@import "../../scss/colors";

.MenuContainer {
    border-right: solid 1px $background-light;
    flex-shrink: 0;
    margin-bottom: 1em;
    height: 100vh;

    .menuTitle {
        padding: 1.5em 4em;
        font-weight: bold;
        margin-left: 1em;
    }
    .menuItems {
        padding: 1.5em 4em;
        text-decoration: none;
        color: $black;
        margin-left: 1em;

        &:hover,
        &.active {
            color: $primary-color-red;
            border-right: solid 2px $primary-color-red;
        }
    }
}
